<footer id="footer">
    <div class="own-jumbotron7">
        <div class="exotictext-footer" src="/lektion-2/images/exoticText.png" alt="ExoticCars text" width="240" height="80"></div>
    </div>
    <div id="logo-text">
        <p>Öppetttider:</p>
        <p>Mån-Fre: 10-18</p>
    </div>
</div>
<div class="col footer-p"><p>Leverans</p><p>FAQ</p><p>Returer</p></div><div class="col footer-p"><p>Pilgatan 2, Västerås</p><p>070 345 67 03</p><p>exoticcars@ec.se</p></div><div class="col footer-p"><p>Om Oss</p><p>GDPR</p><p>Kontakt</p></div><div class="col footer-p"><p><i class="fab fa-facebook-f icons FB"></i>Facebook</p><p><i class="fab fa-twitter icons TW"></i>Twitter</p><p><i class="fab fa-instagram icons"></i>Instagram</p></div></div></div> <div id="copyright">&copy; ExoticCars 2020</div> </footer>