<div class="bg-img1 first-layout" ng-repeat="item in kontakt">
    <div class="overlayOmOss">
        <div class="containerOmOss">
            <div class="carBox">
                <div class="BoxOmOss">
                    <h1 class="OmOss-Rubrik">Kontakt</h1>
                    <div class="d-flex">
                        <div class="col-BarOmOss">
                            <button class="sideBarOmOss"></button>
                        </div>
                        <div>
                            <h1 class="Rubriker">Vart hittar jag Exotic<span style='color: #ffffff'>Cars<span style='color: #ff6600'>?</span></span></h1>
                            <p class="BoxOmOss-p">{{ item.adress }} <br>
                                +46 345 678 903 <br>
                                <br>
                                <img class="email-icon" src="/lektion-2/images/EMAILicon.png" alt="Email icon" width="50" height="50">
                                exoticcars@ec.se <br>
                                <br>
                                Kom gärna förbi och tjöta lite! <br>
                                Vi har bilar för alla!
                            <br>
                            </p>
                            <div class="col footer-p socials">
                                <p><i class="fab fa-facebook-f iconsOmOss Facebook"></i>Facebook</p>
                                <p><i class="fab fa-twitter iconsOmOss Twitter"></i>Twitter</p>
                                <p><i class="fab fa-instagram iconsOmOss"></i>Instagram</p>
                            </div>
                        </div>
                        <div class="CEO-kontakt-sida">
                            <div class="CEO-image">
                                <img class="FredGerk-img" src="/lektion-2/images/CEO.png" alt="Image of CEO Fred Gerk" width="220" height="320">
                            </div>
                            <div class="CEO-description">
                                <h3>Fred Gerk</h3>
                                <h6>VD</h6>
                                <hr class="hr-Fred">
                                <h5><strong>freddo@ec.se</strong></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

