
<div class="bg-img1 first-layout" ng-repeat="item in kontakt">
    <div class="overlayAll">
        <div class="container2">
            
            <div class="carBox">
                <div class="item">
                    <div>
                        <img id="mercedes-Img" src="/lektion-2/images/mercedes.png" alt="Mercedes-AMG GT" width="560" height="280">
                    </div>
                </div>
                <div class="carInfo d-flex">
                    <div class="col-BarCars">
                        <button class="sideBarCars"></button>
                    </div>
                    <div>
                        <h1 class="Rubriker">{{ item.MercedesTitle }}</h1>
                        <p class="cars-p">Mercedes-AMG GT är en sportbil som den tyska <br>
                            biltillverkaren Mercedes-Benz dotterbolag <br>
                            Mercedes-AMG introducerade i september 2014. <br>
                        <br>
                        <strong>Drivmedel</strong> <span style='color: #ff6600'>-</span> Tomatsås <br>
                        <strong>Växellåda</strong> <span style='color: #ff6600'>-</span> Automat <br>
                        <strong>Färg</strong> <span style='color: #ff6600'>-</span> Silver <br>
                        <button class="pris-div-right-side">900.000 Kr</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-img2">
    <div class="overlayRoad"></div>
</div>

