
<div class="bg-img1 first-layout" ng-repeat="item in omOss">
    <div class="overlayOmOss">
        <div class="containerOmOss">
            <div class="carBox">
                <div class="BoxOmOss">
                    <h1 class="OmOss-Rubrik">Om Oss</h1>
                    <div class="d-flex">
                        <div class="col-BarOmOss">
                            <button class="sideBarOmOss"></button>
                        </div>
                        <div>
                            <h1 class="Rubriker">Våran Historia</h1>
                            <p class="BoxOmOss-p">ExoticCars grundades år 1978 i Tyskland av Fred Gerk med målet <br>
                                att htta den rätta bilen för varje kund. 2010 kom ExoticCars till <br>
                                Västerås, Sverige. Ända sedan dess har vi sålt sålt sålt och tjänat <br>
                                fett med cash. Kunderna vet egentligen inte om att de betalar <br>
                                ett sjukt överpris, men jag klagar inte! <br>
                                <br>
                                Vi kom,mer såklart att fortsätta att lura på kunderna bilar! <br>
                                Vi ses snart!
                            <br>
                            </p>
                            <div class="col footer-p" id="socials">
                                <p><i class="fab fa-facebook-f iconsOmOss Facebook"></i>Facebook</p>
                                <p><i class="fab fa-twitter iconsOmOss Twitter"></i>Twitter</p>
                                <p><i class="fab fa-instagram iconsOmOss"></i>Instagram</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


