
<div class="bg-img1 first-layout" ng-repeat="item in varabilar">
    <div class="overlayAll">
        <div class="container2">
            <div class="carBox">
                <div class="item">
                    <div>
                        <img id="lambo-img" src="/lektion-2/images/lambo.png" alt="Lamborghini Aventador" width="560" height="200">
                    </div>
                </div>
                <div class="carInfo d-flex">
                    <div class="col-BarCars">
                        <button class="sideBarCars"></button>
                    </div>
                    <div>
                        <h1 class="Rubriker">{{ item.LamboTitle }}</h1>
                        <p class="cars-p">Lamborghini Aventador är en sportbil som den <br>
                            italienska biltillverkaren Lamborghini presenterade <br>
                            på Internationella bilsalongen i Genève i mars 2012. <br>                      
                        <br>
                        <strong>Drivmedel</strong> <span style='color: #ff6600'>-</span> Diesel <br>
                        <strong>Växellåda</strong> <span style='color: #ff6600'>-</span> Automat <br>
                        <strong>Färg</strong> <span style='color: #ff6600'>-</span> Svart <br>
                        <button class="pris-div">1.500.000 Kr</button>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="carBox">
                <div class="item">
                    <div>
                        <img id="mercedes-Img" src="/lektion-2/images/mercedes.png" alt="Mercedes-AMG GT" width="560" height="280">
                    </div>
                </div>
                <div class="carInfo d-flex">
                    <div class="col-BarCars">
                        <button class="sideBarCars"></button>
                    </div>
                    <div>
                        <h1 class="Rubriker">{{ item.MercedesTitle }}</h1>
                        <p class="cars-p">Mercedes-AMG GT är en sportbil som den tyska <br>
                            biltillverkaren Mercedes-Benz dotterbolag <br>
                            Mercedes-AMG introducerade i september 2014. <br>
                        <br>
                        <strong>Drivmedel</strong> <span style='color: #ff6600'>-</span> Tomatsås <br>
                        <strong>Växellåda</strong> <span style='color: #ff6600'>-</span> Automat <br>
                        <strong>Färg</strong> <span style='color: #ff6600'>-</span> Silver <br>
                        <button class="pris-div-right-side">900.000 Kr</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carBox">
                <div class="item">
                    <div>
                        <img id="ferrari-img" src="/lektion-2/images/ferrari.png" alt="Ferrari F40" width="560" height="200">
                    </div>
                </div>
                <div class="carInfo d-flex">
                    <div class="col-BarCars">
                        <button class="sideBarCars"></button>
                    </div>
                    <div>
                        <h1 class="Rubriker">{{ item.FerrariTitle }}</h1>
                        <p class="cars-p">Ferrari F40 är en supersportbil, tillverkad av den <br>
                            italienska biltillverkaren Ferrari mellan <br>
                            1987 och 1992.                                                
                        <br>
                        <br>
                        <strong>Drivmedel</strong> <span style='color: #ff6600'>-</span> Solenergi <br>
                        <strong>Växellåda</strong> <span style='color: #ff6600'>-</span> Manuell <br>
                        <strong>Färg</strong> <span style='color: #ff6600'>-</span> Tråkig Grå <br>
                        <button class="pris-div">1.500.000 Kr</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carBox">
                <div class="item">
                    <div>
                        <img id="mclaren-img" src="/lektion-2/images/mclaren.png" alt="McLaren 570 GT" width="540" height="220">
                    </div>
                </div>
                <div class="carInfo d-flex">
                    <div class="col-BarCars">
                        <button class="sideBarCars"></button>
                    </div>
                    <div>
                        <h1 class="Rubriker">{{ item.MclarenTitle }}</h1>
                        <p class="cars-p">McLaren 570 GT är en sportbil tillverkad av den <br>
                            brittiska biltillverkaren McLaren Automotive sedan 2015.
                            570 hk vid 7400 v/min. <br>
                        <br>
                        <strong>Drivmedel</strong> <span style='color: #ff6600'>-</span> Vatten <br>
                        <strong>Växellåda</strong> <span style='color: #ff6600'>-</span> Automat <br>
                        <strong>Färg</strong> <span style='color: #ff6600'>-</span> Äpple <br>
                        <button class="pris-div-right-side">1.300.000 Kr</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-img2">
    <div class="overlayRoad"></div>
</div>

